body {
    font-family: Arial, Helvetica, sans-serif;
}
#range_date{ display:block; width:100%; }

#player{ 
    display:flex; 
    justify-content: space-between;
    align-items: baseline;
    gap:20px;
}

.player{
    cursor:pointer;
    font-size:1.4rem;
    margin: 1rem 0 0 0;
}
.player.label{ font-size:1.2rem; }

#current_date{
    font-size:1.4rem;
} 

#two_cols{
    display:flex;
    gap: 10px;
}

#cont_map {
    width:40%;
}
#cont_charts{
    width:60%;
}

#map {
    width: 100%;
    height: 600px;
}
#charts_hauteur {
    width: 100%;
    height: 800px;
}

.chart_ce{
    width: 100%;
    height: 200px;
}


